body{
    margin: 0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.logo{
    height: 70px;
=======
.mainButton{
    background-color: purple;
    color: white;
=======
.button{
>>>>>>> 6-crear-boton-login
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder; 
}

.button:hover{
    cursor: pointer;
    transform: scale(1.5)
    
}
.mainButton{
    background-color: purple;
    color: white;

}

.mainButton:hover{
    box-shadow: 1px 1px blue;
    
<<<<<<< HEAD
>>>>>>> 5-crear-boton-nuevo-post
=======
}

.secondaryButton{
    background-color: rgb(5, 72, 39);
    color: white;
}

.secondaryButton:hover{
    box-shadow: 1px 1px rgb(136, 130, 16);
>>>>>>> 6-crear-boton-login
}